@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 90%;
    margin: 0 auto;
}


section{
    padding: 100px 0;
    background: #0B1A44;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.sec-head{
    font-weight: 800;
    font-size: 60px;
    color: #fff;
    /* -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: white; */
}

p{
    color: #fff;
    font-weight: 800;
    font-size: 25px;
}


/* Header and Navbar */

header{
    position: relative;
    margin-bottom: -75px;
}

.navbar-brand{
    color: #fff;
    font-weight: 800;
}

.nav-item a{
    color: #fff !important;
    font-size: 20px;
    text-decoration: none;
}

.nav-item a:hover{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.2);
}

.main-logo{
    width: 300px; 
    height: 300px;
}

.main-desc{
    font-size: 45px;
    font-weight: 800;
    /* -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white; */
    text-align: center;
}

.btn-top{
    padding: 0.5em;
    width: 200px;
    border-radius: 40px;
    font-weight: 700;
    font-size: 25px;
    color: #fff;
    background: #123353;
    border: 2px solid #fff;;
}


/* Hero Section */

.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

/* End of Tokens Section */

.end-para{
    font-size: 35px;
    color: #fff;
}

/* Tokenomics Section */

#tokenomics{
    background: #376AB2;
}

#tokenomics .sec-head{
    -webkit-text-stroke: unset;
    -webkit-text-fill-color: unset;
    color: #fff;
    font-size: 95px;
}

.toke-item{
    padding: 1em;
    background: #376AB2;
    border-radius: 20px;
    border: 2px solid #fff;
    margin-bottom: 20px;
    width: 100%;
}

.toke-head{
    font-size: 65px;
    font-weight: 600;
    color: #fff;
    
}

.toke-sub{
    font-size: 30px;
    color: #d3d3d3 !important;
}

.toke-value{
    font-size: 55px;
    color: #fff;
}

.toke-item:nth-child(2){
    margin-left: -100px
}


/* Roadmap */

.roadmap-web{
    display: block;
}

.roadmap-mobile{
    display: none;
}

/*=================================================================
  Footer section
==================================================================*/
.top-footer {
    background-color: #0B1A44;
    border-top: 1px solid #404040;
    padding: 100px 0 80px;
  }
  
  .top-footer h3 {
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  
  .top-footer p {
    font-size: 13px;
    line-height: 30px;
    color: #bdbdbd;
    font-weight: 300;
    -webkit-text-stroke: unset;
    -webkit-text-fill-color: unset;
    padding-right: 20px;
  }
  
  .top-footer li a {
    font-size: 13px;
    line-height: 30px;
    color: #bdbdbd;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: color .3s;
    font-family: "Titillium Web", sans-serif;
    display: block;
  }
  
  .top-footer li a:hover {
    color: #f0326b;
  }
  
  .footer-bottom {
    text-align: center;
    background-color: #1b1b1b;
    border-top: 1px solid #2c2c2c;
    padding: 30px 0;
  }
  
  .footer-bottom h5 {
    font-size: 12px;
    line-height: 1;
    color: #888888;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 7px;
    margin-bottom: 3px;
  }
  
  .footer-bottom h6 {
    font-size: 11px;
    line-height: 15px;
    color: #888888;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 0;
  }
  
  .footer-bottom p {
    color: #656565;
  }
  
  .footer-bottom a {
    color: #f0326b;
  }
  
  .subscribe-form .form-control {
    border-radius: 0;
  }
  

@media only screen and (max-width: 1500px) {

    p{
        color: #fff;
        font-weight: 800;
        font-size: 22px;
    }

    .main-logo{
        width: 200px;
        height: auto;
    }

    .main-desc{
        font-size: 38px;
    }

    .sec-head{
        font-size: 50px;
    }

    .end-para{
        font-size: 28px;
    }

    
    .toke-head{
        font-size: 40px;
        font-weight: 600;
        color: #fff;
    }
    
    .toke-sub{
        font-size: 25px;
        color: #d3d3d3 !important;
    }
    
    .toke-value{
        font-size: 45px;
        color: #fff;
    }

    #tokenomics .sec-head{
        -webkit-text-stroke: unset;
        -webkit-text-fill-color: unset;
        color: #fff;
        font-size: 75px;
    }

  }

@media only screen and (max-width: 700px) {

    .container{
        max-width: 99%;
    }

    .nav-item{
        margin: 10px 0 !important;
        /* margin-left: -12px !important; */
    }

    .navbar-collapse{
        background: #123353
    }

    p{
        color: #fff;
        font-weight: 800;
        font-size: 18px;
    }

    .main-logo{
        width: 150px;
        margin-bottom: 30px;
        height: auto;
    }

    .main-desc{
        font-size: 25px;
        text-align: left;
    }

    
    .btn-top{
        padding: 0.5em;
        width: 170px;
        border-radius: 40px;
        font-weight: 500;
        font-size: 25x;
        color: #fff;
    }

    .sec-head{
        font-size: 35px;
    }

    .end-para{
        font-size: 28px;
    }

    .toke-head{
        font-size: 35px;
        font-weight: 600;
        color: #fff;
    }
    
    .toke-sub{
        font-size: 22px;
        color: #d3d3d3 !important;
    }
    
    .toke-value{
        font-size: 35px;
        color: #fff;
    }

    .toke-item:nth-child(2){
        margin-left: unset;
    }

    #tokenomics .sec-head{
        -webkit-text-stroke: unset;
        -webkit-text-fill-color: unset;
        color: #fff;
        font-size: 35px;
    }

    .roadmap-mobile{
        display: block;
    }

    .roadmap-web{
        display: none;
    }

  }